body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  color: black;
}
.navigation-list-link {
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 192;
  letter-spacing: 0.03em;
  color: #212121;
}
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.02em;

  color: #757575;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.navigation-list-item:hover,
.navigation-list-item:focus,
.header-tel-link:focus,
.header-tel-link:hover {
  color: #2196f3;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
}
.hero-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-transform: uppercase;
  letter-spacing: 6%;
  color: #ffffff;
}
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
}
.about-work-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.167;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus,
.portfolio-list-item-link:focus,
.portfolio-list-item-link:hover {
  color: #ffffff;
}
.portfolio-list-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 625;
  color: #212121;
}
.tools-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.advertising-tools {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
